.buttondesign{
    border:1px solid #5e17eb;
    color:#5e17eb;
}
.buttondesign:hover{
    background-color: #5e17eb;
    color:white;
}

.savebutton{
    background-color: #5e17eb;
    color:white;
}
.savebutton:hover{
    background-color: #4a0cc6;
    color:white;
}

.txtarea{
    border:1px solid #5e17eb;
    border-radius:5px;
}

.style:hover{
    color: white;
    background-color: #5e17eb;
    border-radius:50%;
}

.bg{
    background-color: #5e17eb;
    color:white;
}