<app-navbar></app-navbar>
<div class="container-fluid">

    <div class="container my-3 py-2">
        <h2 class="fs-bold text-center">FAQ's</h2>
        <div class="container py-1 p-0">
            <button class="btn w-100 text-start p-0" data-bs-toggle="collapse" href="#collapse1" role="button">
              <div>
                What is the purpose of this online learning portal?
                <span class="float-end dropdown-toggle"></span>
            </div>
            </button>
            <div class="collapse p-0 mt-2" id="collapse1">
                <p class="ps-3" align="justify">The purpose of our online learning portal is to provide a wide range of courses to learners, making education accessible, convenient, and affordable. We strive to offer a diverse selection of courses, covering various subjects and disciplines, with a focus on providing clear and comprehensive explanations. 
                    Our goal is to make learning easier and more enjoyable for individuals seeking to acquire new knowledge, upgrade their skills, or explore new interests. We understand that everyone has unique learning styles and preferences, so we aim to present course materials in a way that is engaging and understandable. 
                    Additionally, we believe in keeping education affordable and accessible to a wider audience. We strive to offer courses at lower costs compared to traditional educational institutions, making quality education more attainable and affordable for learners of all backgrounds. 
                    By combining a wide variety of courses, easy-to-understand explanations, and cost-effectiveness, our online learning portal aims to empower individuals to learn at their own pace, expand their horizons, and achieve their personal and professional goals.</p>
            </div>
        </div>

        <hr class="my-3">
        <div class="container py-1  p-0">
            <button class="btn w-100 text-start  p-0" data-bs-toggle="collapse" href="#collapse2" role="button">
              <div>
                Is there a cost associated with using this online learning portal?
                <span class="float-end dropdown-toggle"></span>
            </div>
            </button>
            <div class="collapse  p-0 mt-2" id="collapse2">
                <p class="ps-3" align="justify">
                    No, enrolling in courses on this online learning portal is free of charge. There is no cost associated with accessing the course materials, lectures, and other resources.
                     However, please note that there may be optional paid features or premium courses available on the platform,
                     which may require additional fees for enrollment. These premium courses often provide enhanced learning experiences and additional benefits.
                     But rest assured, the basic enrollment and access to regular courses are provided at no cost to the users of this online learning portal.
                </p>
            </div>
        </div>

        <hr class="my-3">
        <div class="container py-1  p-0">
            <button class="btn w-100 text-start  p-0" data-bs-toggle="collapse" href="#collapse3" role="button">
              <div>
                What types of courses are offered on the platform? 
                <span class="float-end dropdown-toggle"></span>
            </div>
            </button>
            <div class="collapse  p-0 mt-2" id="collapse3">
                <p class="ps-3" align="justify">
                We offer a wide range of courses on our online learning platform, catering to various interests and skill levels. 
                Some of our popular courses include:

                Artificial Intelligence (AI),
                Machine Learning (ML),
                Programming (Java, Python, C++, etc.),
                Web Development (HTML, CSS, JavaScript, etc.),
                Data Science and Analytics,
                Digital Marketing,
                Graphic Design,
                Mobile App Development (Android, iOS),
                Business and Entrepreneurship,
                Finance and Investment,
                Language Learning (English, Spanish, French, etc.),
                Photography and Videography,
                Creative Writing,
                Music and Audio Production,
                Personal Development and Soft Skills.
                These are just a few examples, and our course catalog is regularly updated with new offerings based on emerging technologies and popular trends.
                We strive to provide a diverse range of courses to cater to the varied interests and career goals of our learners.
                </p>
            </div>
        </div>

        <hr class="my-3">
        <div class="container py-1  p-0">
            <button class="btn w-100 text-start  p-0" data-bs-toggle="collapse" href="#collapse4" role="button">
              <div>
                Can I interact with the instructor and other students during the course?
                <span class="float-end dropdown-toggle"></span>
            </div>
            </button>
            <div class="collapse  p-0 mt-2" id="collapse4">
                <p class="ps-3" align="justify">
                    Absolutely! We provide a dedicated discussion forum within each course on our online learning platform.
                    This forum serves as a platform for interaction and collaboration among instructors and fellow students enrolled in the same course.
                    You can use this forum to ask questions,
                    seek clarification on course content, discuss challenging topics, and engage in meaningful conversations related to the course materials.
                    The discussion forum allows you to post your queries, share your thoughts, and participate in discussions with both the instructor and your peers.
                    It's a great way to seek guidance, receive feedback, and learn from the collective knowledge and experiences of others.
                    Our instructors actively participate in the discussion forum, providing support and addressing questions to ensure a rich and engaging learning experience.
                    So, feel free to utilize the discussion forum to connect with instructors and fellow students, collaborate on assignments, share insights, and foster a sense of community within the course.
                    We believe that active participation and interaction contribute significantly to a comprehensive and rewarding learning journey.
                </p>
            </div>
        </div>
        
        <hr class="my-3">
        <div class="container py-1  p-0">
            <button class="btn w-100 text-start  p-0" data-bs-toggle="collapse" href="#collapse5" role="button">
              <div>
                Can I access the online learning portal offline?
                <span class="float-end dropdown-toggle"></span>
            </div>
            </button>
            <div class="collapse  p-0 mt-2" id="collapse5">
                <p class="ps-3" align="justify">
                    No, unfortunately, you cannot access our online learning portal offline. Our platform requires an active internet connection to access the course materials, lectures, interactive features, and other resources. Offline access is currently not supported.
                    We understand that offline access can be beneficial in certain situations, such as when traveling or in areas with limited internet connectivity. However, our platform is designed to provide a dynamic and interactive learning experience that heavily relies on real-time access to online content and features.
                    We recommend ensuring a stable internet connection while using our online learning portal to fully utilize its features and access the course materials seamlessly. 
                </p>
            </div>
        </div>

        <hr class="my-3">
        <div class="container py-1  p-0">
            <button class="btn w-100 text-start  p-0" data-bs-toggle="collapse" href="#collapse6" role="button">
              <div>
                Are there any limitations on the duration of access to course materials?
                <span class="float-end dropdown-toggle"></span>
            </div>
            </button>
            <div class="collapse  p-0 mt-2" id="collapse6">
                <p class="ps-3" align="justify">
                    Once you enroll in a course on our online learning portal, you will have unlimited access to the course materials. There are no limitations on the duration of access to the course or its materials. You can study at your own pace and revisit the course content as often as you like, even after you have completed the course.
                    We understand that learners have different schedules and commitments, and we want to provide flexibility in accessing and engaging with the course materials. Therefore, you can access the course materials, lectures, assignments, and any supplementary resources at any time that is convenient for you.
                    There is no rush to complete the course within a specific timeframe. You have the freedom to learn at a pace that suits you, ensuring a comfortable and personalized learning experience. 
                </p>
            </div>
        </div>

        <hr class="my-3">
        <div class="container py-1 p-0">
            <button class="btn w-100 text-start  p-0" data-bs-toggle="collapse" href="#collapse7" role="button">
              <div>
                Are there assessments in the courses, and how are they conducted? 
                <span class="float-end dropdown-toggle"></span>
            </div>
            </button>
            <div class="collapse p-0 mt-2" id="collapse7">
                <p class="ps-3 " align="justify">
                    Yes, there are assessments in the courses offered on our online learning portal. These assessments are designed to evaluate your understanding of the course material and track your progress. Assessments can include quizzes, exams, assignments, projects, or other types of evaluation methods.
                    The assessments will be posted regularly by the instructor throughout the course duration. You can access them conveniently from the "Assessments" tab within the course. The tab will provide you with a list of available assessments along with their due dates (if applicable).
                    To take an assessment, simply click on the respective assessment from the list. You will be presented with the questions or tasks related to the assessment. Follow the instructions provided and submit your answers or completed assignment as per the specified guidelines.
                    Once you have completed an assessment, the instructor will review your submissions and evaluate your performance. The assessment scores will be updated in your "Completed Assessments" tab, allowing you to track your progress and see how you performed in each assessment.
                    The assessments play a crucial role in assessing your comprehension of the course content and provide valuable feedback for your learning journey. They serve as checkpoints to gauge your understanding and ensure that you are grasping the concepts effectively.
                </p>
            </div>
        </div>    
</div>

<div class="container d-flex justify-content-center my-3 py-2">
    <div class="card " style="width:30rem" *ngIf="!isSubmitted">
        <div class="d-flex mt-3 justify-content-center">
            <span class="bi px-2 {{star1}} fs-4" (click)="onclick(1)"></span>
            <span class="bi px-2 {{star2}} fs-4" (click)="onclick(2)"></span>
            <span class="bi px-2 {{star3}} fs-4" (click)="onclick(3)"></span>
            <span class="bi px-2 {{star4}} fs-4" (click)="onclick(4)"></span>
            <span class="bi px-2 {{star5}} fs-4" (click)="onclick(5)"></span>
        </div>
        <div class="d-flex justify-content-center">
            <span>{{rating_text}}</span>
        </div>
        <div class="card-body">
            <h5>Enter you feedback</h5>
            <textarea name="feedback" id="feedback" class="w-100 rounded"></textarea>
            <button class="btn btn-info w-100 mt-3" (click)="onSubmit()">Submit</button>
        </div>
      </div>
      <div class="card pb-3" *ngIf="isSubmitted">
        <p class="fs-3 text-center">Thank you for your Feedback!</p>
        <img src="../../../../assets/success.png" class="img-fluid w-25 mx-auto" alt="Success Icon">
      </div>
</div>

</div>