<app-navbar></app-navbar>
<div class="container my-3">
    <h3 class="text-center fw-bold pb-3">About Us</h3>
    <p align="justify">
        Welcome to <b>EduMania</b>! We are a dedicated team of educators and technology enthusiasts passionate about providing high-quality education to learners of all ages and backgrounds. Our mission is to make learning accessible, engaging, and interactive, empowering individuals to unlock their full potential.
    </p>
    <p align="justify">
        At <b>EduMania</b>, we offer a wide range of courses and resources designed to meet the diverse needs and interests of our learners. Whether you're a student looking to enhance your academic performance, a professional seeking to upgrade your skills, or simply someone curious about a new subject, we have something for everyone.
    </p>
    <p align="justify">
        We understand that each learner is unique, which is why we strive to create a personalized learning experience. Our platform utilizes advanced technology to adapt to individual learning styles and preferences, ensuring that each student receives the support they need to succeed. From interactive lessons and multimedia content to practical exercises and assessments, our courses are designed to foster critical thinking, problem-solving, and creativity.
    </p>
    <p align="justify">
        Accessibility and flexibility are at the core of our online learning portal. We understand the demands of busy schedules and strive to accommodate learners by offering self-paced courses that can be accessed anytime, anywhere. Whether you prefer to learn at your own pace or engage in live interactive sessions, our platform offers the flexibility to suit your needs.
    </p>
    <p align="justify">
        As we embrace the digital age, we are committed to staying at the forefront of educational innovation. We continuously update our courses and integrate emerging technologies to enhance the learning experience. Our platform leverages cutting-edge tools, such as virtual reality, artificial intelligence, and gamification, to create immersive and engaging learning environments.
    </p>
    <p align="justify">
        Join us on this exciting learning journey and unlock a world of knowledge and opportunities. Whether you are starting a new chapter in your education or seeking to expand your horizons, <b>EduMania</b> is here to support and guide you every step of the way. Together, let's embark on a transformative learning experience that will empower you to achieve your goals and thrive in an ever-evolving world.
    </p>

    <h3 class="text-center fw-bold pb-3">Our Team</h3>

    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">JOSHIKA</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center ">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">MRINAL</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">MUSKAN</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">OVIYA</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">RAMESH</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
    </div>
        <div class="row row-cols-1 row-cols-md-5 d-flex justify-content-center g-4 mt-1">
        <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">RISHIK</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">RITHICK</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">SANTHOSH</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title fw-semibold">SUMANTH</h5>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
      </div>
</div>
