.btn-primary{
    background-color: #5e17eb;
    color:#fff;
    border:2px solid #fff;
    font-weight: 600;
  }
  
  .btn-primary:hover{
    background-color: #fff;
    color: #5e17eb;
    border:2px solid #5e17eb;
  }
  
  .btn-secondary{
    background-color: #7e7e7e;
    color:#fff;
    border:2px solid #fff;
    font-weight: 600;
  }
  
  .btn-secondary:hover{
    background-color: #fff;
    color: #7e7e7e;
    border:2px solid #7e7e7e;
  }
  
  .btn-danger{
    background-color: #eb1717;
    color:#fff;
    border:2px solid #fff;
    font-weight: 600;
  }
  
  .btn-danger:hover{
    background-color: #fff;
    color: #eb1717;
    border:2px solid #eb1717;
  }
  
  .style:hover{
    color: white;
    background-color: #5e17eb;
    border-radius:50%;
  }

  .card-footer{
    border:none;
    background-color: #fff;
  }
  
  .bg{
    background-color: aliceblue;
  }

  .buttondesign{
    border:1px solid #5e17eb;
    color:#5e17eb;
}
.buttondesign:hover{
    background-color: #5e17eb;
    color:white;
}