.btn-primary{
    background-color: #5e17eb;
    color:#fff;
    border:2px solid #fff;
    font-weight: 600;
  }
  
  .btn-primary:hover{
    background-color: #fff;
    color: #5e17eb;
    border:2px solid #5e17eb;
  }
  
  .btn-secondary{
    background-color: #7e7e7e;
    color:#fff;
    border:2px solid #fff;
    font-weight: 600;
  }
  
  .btn-secondary:hover{
    background-color: #fff;
    color: #7e7e7e;
    border:2px solid #7e7e7e;
  }

  .card1{
    background-color: aliceblue;
  }