<app-navbar></app-navbar>

<!-- Order Summary -->
<div class="container my-3 p-3">
  <h1 class="text-center fw-bold">Order Summary</h1>
  <div class="container">
    <div class="card mt-5 p-3 w-75 mx-auto card1">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
                <img src="../../../../assets/course.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <p><b>Course Name:</b> {{course.courseName}}</p>
                    <p><b>Course ID:</b> {{course.courseId}}</p>
                    <p><b>Course Description: </b>{{course.courseDescription.slice(0,80)}}...</p>
                </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body mt-3">
                <h2 class="text-center fw-semibold">TOTAL AMOUNT</h2>
                <br><br>
                <h3 class="text-center"><b>Amount:</b> Rs. {{price}}/-</h3>
                <br>
                <br>
                <button class="btn btn-primary w-100 mb-3" (click)="GoToPaymentPage(courseId)">Proceed Payment</button>
                <button class="btn btn-secondary w-100" (click)="onback()">Go Back</button>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
<!-- Order Summary Ends -->