<app-navbar></app-navbar>

<div class="container mt-3 p-3" id="main-container">
  <p class="fw-semibold fs-3 py-2 m-0"><span class="mx-2 px-1 style" (click)="onback()"><i class="bi bi-arrow-left-short"></i></span>View Lesson</p>
  <div class="card w-100 mb-3 bg">
    <div class="card-body">
        <h3 class="card-title pb-4"><b>Lesson Name:</b> {{lesson.lessonName}}</h3>
        <h6 class="card-text pb-2"><b>Lesson Id:</b> {{lesson.lessonId}}</h6>
    </div>
</div>
<div class="ps-3">
    <h4 class="pt-2"><b>Lesson Description:</b></h4>
    <p> {{lesson.lessonDescription}}</p>
</div>
</div>