<div class="background-image">
    <div>
      <div class="d-flex justify-content-between flex-column min-vh-100">
        <div class="text-center">
          <img src="../assets/logo.png" class="img-fluid logo m-3" width="60vh" />
          <div>
            <h1
              class="display-3 text-center mt-5"
              style="font-weight: 400; color: #000000"
            >
              Welcome to our <b style="color: #5e17eb">E</b>dumania
            </h1>
            <blockquote class="blockquote text-center">
              <h5 style="color: #3a3a3a">
                Learn, grow, and advance your skills with our wide range of
                courses.
              </h5>
            </blockquote>
            <div class="text-center">
              <a
                routerLink="/login"
                class="btn text-light"
                style="background-color: #5317eb"
                >Get Started</a
              >
            </div>
          </div>
        </div>
        <div
          class="d-flex gap-4 flex-column gap-4 d-lg-flex flex-lg-row container"
        >
          <div class="col-md-4">
            <figure>
              <blockquote class="blockquote">
                <h3>Extensive Course Library</h3>
              </blockquote>
              <figcaption class="blockquote-footer">
                Choose from a variety of courses across different subjects and
                skill levels.
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4">
            <figure>
              <blockquote class="blockquote">
                <h3>Expert Instructors</h3>
              </blockquote>
              <figcaption class="blockquote-footer">
                Learn from experienced instructors who are experts in their
                respective fields.
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4">
            <figure>
              <blockquote class="blockquote">
                <h3>Flexible Learning</h3>
              </blockquote>
              <figcaption class="blockquote-footer">
                Study at your own pace, anytime, anywhere, on any device.
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="w-100 justify-content-around d-flex p-2">
          <b style="color: rgb(0, 0, 0)"
            >&copy; 2023 Edumania. All rights reserved.</b
          >
        </div>
      </div>
    </div>
  </div>
  