<div class=" d-flex flex-column flex-xl-row align-items-center bg">


    <div class="container d-flex flex-column flex-xl-row shadows bg-white">
        
        <div class="d-flex">
            <img src="../../assets/leftside.jpg" class="img-fluid img-responsive col-md-10 mx-auto" alt="logo"> 
        </div>
    
        <div class="container d-flex align-items-center flex-column me-5">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../assets/rightside.png" style="width: 260px;" class="img-fluid col-md-4 mb-3 mt-4" alt="logo">
            </div>

        <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpass()" class="w-100">
            <h2 class="my-4 text-center">RESET PASSWORD</h2>
            <label class="form-label align-self-start  pt-2 mb-0">Email ID</label>
            <input class="form-control col-md-2" formControlName="email" type="text" placeholder="Enter Your EmailID">
            <span class="float-end text-danger m-0" *ngIf="forgotpasswordForm.controls['email'].dirty && forgotpasswordForm.hasError('required','email')">*email is required</span>
            <span class="float-end text-danger m-0" *ngIf="forgotpasswordForm.controls['email'].hasError('pattern')">*email is invalid</span>

            <label class="form-label align-self-start  pt-4 mb-0"> New Password</label>
            <input class="form-control col-md-2" formControlName="password" [type]="type"  placeholder="Enter Your Password">
            <span class="float-end text-danger m-0" *ngIf="forgotpasswordForm.controls['password'].dirty && forgotpasswordForm.hasError('required','password')">*password is required</span>
            <span class="float-end text-danger m-0" *ngIf="forgotpasswordForm.controls['password'].hasError('minlength')">*Requires atleast 8 characters</span>
            
            <label class="form-label align-self-start pt-4 mb-0">Confirm Password</label>
            <input class="form-control col-md-2" formControlName="confirmPassword" [type]="type"  placeholder="Re-enter Your Password">
            <span class="float-end text-danger m-0" *ngIf="forgotpasswordForm.errors?.['passwordmismatcherror']">*Passwords doesn't match</span>
            <div class="form-check pt-1 align-self-start">
                <input class="form-check-input focused" type="checkbox" (click)="onpassclick()" id="check1" name="option1" value="something" unchecked>
                <label class="form-check-label">Show Password</label>
              </div>
            <button [disabled]="forgotpasswordForm.invalid"  class="btn mt-4 mb-3 w-100">RESET</button>
        </form>
        <p>Login to your Account? <a routerLink="/login" class="link-primary link">LogIn</a></p>

        </div>
    </div>
    </div>